!!! 1.1
%html
  %head
    %title= "Rheoli - The RA Instance"
    %meta{'http-equiv'=>"content-type", :ontent=>"text/html; charset=iso-8859-1"}/
    %meta{:name=>"description", :content=>"RailsPKI - PKI Implemented in Ruby on Rails"}/
    %meta{:name=>"keywords", :content=>"pki,rails,railspki,ruby"}/
    = stylesheet_link_tag "green", :media => "screen,projection"
    = javascript_include_tag :defaults
%body{:onLoad=>@body_on_load}
  %div#container
    %div#header
      %h1 Rheoli
      %h2 The RA Instance
      %h3= "Logged in as: #{current_user}"
    %div#navigation
      %ul
        - if user_signed_in?
          %li.selected= link_to("Home", :controller=>'certificates', :action=>'index')
          %li &nbsp;
          %li= link_to("Logout", "/users/sign_out")
        - else
          %li= link_to("Login", "/users/sign_in")
    %div#content
      = yield
      %p &nbsp
    %div#footer
      %p &copy; 2005-11 <a href="#">Stephan Toggweiler</a> | Design by <a href="http://andreasviklund.com">Andreas Viklund</a>

