!!! 1.1
- content=yield
%html
  %head
    %title= "RheoliPKI"
    %meta{'http-equiv'=>"content-type", :ontent=>"text/html; charset=utf-8"}/
    %meta{:name=>"description", :content=>"RheoliPKI - PKI Implemented in Ruby on Rails"}/
    %meta{:name=>"keywords", :content=>"pki,rails,rheolipki,ruby"}/
    = stylesheet_link_tag :application
%body
  %div#container
    %div#header
      %h1 RheoliPKI
      %h2 CA and RA
      %h3= "Logged in as: Hallo"
    %div#navigation
      %ul
        - @menu=["Test"]
        - @menu.each do |m|
          - if m[0]
            %li.selected
              %a{:href=>m[2]}= m[1]
          - else
            %li
              %a{:href=>m[2]}= m[1]
          %li &nbsp;
    %div#content
      = content
      %p &nbsp
    %div#footer
      %p &copy; 2005-11 <a href="#">Stephan Toggweiler</a> | Design by <a href="http://andreasviklund.com">Andreas Viklund</a>

