%h2 View Certificate
%p
  %table{:border=>"1",:cellpadding=>"1",:cellspacing=>"0"}
    - @ra_item.dn.each do |key, val|
      %tr
        %td= key
        %td= val
    - color="#FFC57F"
    - color="#62C46F" if @ra_item.state=="signed"
    - color="#FF857F" if !@ra_item.ra_revoke.nil?
    %tr{:bgcolor=>color}
      %td State
      %td
        - if !@ra_item.ra_revoke.nil?
          revoked
        - else
          = @ra_item.state
    %tr
      - ca_path=[]
      - ca=@ra_item.ca_domain
      - while !ca.nil?
        - ca_path<<ca
        - ca=ca.ca_domain
      - ca_max=ca_path.size
      %td{:valign=>"top"} Signer Path
      %td
        %table{:border=>"0"}
          - ca_count=0
          - ca_path.reverse.each do |ca|
            %tr
              - 0.upto(ca_count-1) do |c|
                %td &nbsp;&nbsp;
              %td{:colspan=>ca_max-ca_count}= link_to(ca.name, :action => "ca_view", :id => ca.id)
            - ca_count+=1
%p
  %br/
  = link_to_redbox("View PEM", "view_pem")
  %br/
  = link_to_redbox("View Text", "view_text")
  - if @ra_item.superseded_by.nil?
    %br/
    = link_to("Renew", :action => "cert_renew", :id => @ra_item.id)
  - if @ra_item.superseded_by.nil?
    %br/
    = link_to("Reissue", :action => "cert_reissue", :id => @ra_item.id)
  - if @ra_item.ra_revoke.nil?
    %br/
    = link_to("Revoke", :action => "cert_revoke", :id => @ra_item.id)
%div{:id=>"view_pem",:style=>"display: none"}
  %div{:style=>"font-family: courier, serif; width: 500px"}
    = @ra_item.crt_pem.gsub(/\n/, '<br/>')
  = link_to_close_redbox("close")
%div{:id=>"view_text",:style=>"display: none"}
  %div{:style=>"font-family: courier, serif; width: 500px"}
    %pre
      = OpenSSL::X509::Certificate.new(@ra_item.crt_pem).to_text
  = link_to_close_redbox("close")

