%p
  Please choose:
  %ul
    %li= link_to("View CAs", :action => "view_ca_domain")
    %li= link_to("View RA Server", :action => "view_ra_server")
    %li= link_to("View Roles", :action => "view_role")
    %li= link_to("View Users", :action => "view_user")
    %li= link_to("View Authmethods", :action => "view_auth_method")
